.page {display:none;}
.page.active {display:block;}

body.not-authenticated .role-logged-in {display:none;}
body.authenticated .role-logged-out {display:none;}

.role-admin {display:none;}
body.is-admin .role-admin {display:block;}